<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>了解更多</title>
		<link rel="stylesheet" type="text/css" href="../../public/static/layer.css"/>
		<link rel="stylesheet" type="text/css" href="../../public/static/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../public/static/css/public/base.css"/>
		<link rel="stylesheet" type="text/css" href="../../public/static/css/center/index.css"/>
	</head>
	<body>
		<div class="index_content">
			<div class="title">我是更多内容</div>
			<div class="banner">
				<div class="container myCarousel">
					<div id="carousel-example-generic" class="carousel slide">
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								1
							</div>
							<div class="item">
								2
							</div>
							<div class="item">
								3
							</div>
						</div>
						<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
							<span class="">-</span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
							<span class="">+</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script data-main="../../public/static/js/center/center.js" src="../../public/static/require.js"></script>
</html>
